@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('ProximaNovaA-Regular.woff2') format('woff2'),
        url('ProximaNovaA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

